@import url(https://db.onlinewebfonts.com/c/28f2bcb7049a1e0f3598e59fc74840b5?family=Cooper+Lt+BT+W08+Regular);
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}
@font-face {
  font-family: "Cooper Lt BT W08 Regular";
  src: url("https://db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.eot");
  src: url("https://db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.svg#Cooper Lt BT W08 Regular")
      format("svg");
}
.font-cooper {
  font-family: "Cooper Lt BT W08 Regular";
}

.card_overlay:hover img {
  transform: scale(1.05);
  transition: transform ease-in-out 0.25s;
}

.pause_button,
.filter_button {
  transition: all 0.25s ease-in-out;
}

.filter_button:hover {
  box-shadow: 0 0 0 3px rgba(4, 50, 47, 0.16);
  transition: all 0.25s ease-in-out;
}

.check_button {
  transition: all 0.25s ease-in-out;
}

.check_button:hover {
  box-shadow: 0 0 0 3px rgba(4, 50, 47, 0.16);
  transition: all 0.25s ease-in-out;
}

/* range styling */
.range_slider {
  position: relative;
  width: 100%;
}

.slider_track,
.slider_range {
  border-radius: 3px;
  height: 2.3px;
  position: absolute;
}

.slider_track {
  background-color: #04322f;
  width: 100%;
  z-index: 2;
}

.slider_range {
  background-color: brown;
  width: 100%;
  z-index: 1;
}

.thumb,
.thumb::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.thumb-2 {
  z-index: 3;
}

.thumb-3 {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  background-color: #04322f;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* input number arrow display none */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.store_pickup::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  display: block;
  background: linear-gradient(
    45deg,
    rgba(4, 50, 47, 0.2) 50%,
    rgb(255, 254, 249) 50%
  );
}
.footer_fold::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  display: block;
  background: linear-gradient(
    45deg,
    rgba(255, 254, 249, 0.3) 50%,
    rgb(255, 254, 249) 50%
  );
}

/* symbols */

.asterisk_content {
  overflow: hidden;
  clip-path: polygon(
    22% 9%,
    38% 1%,
    45% 17%,
    46% 0,
    64% 2%,
    62% 19%,
    72% 5%,
    86% 15%,
    76% 29%,
    91% 21%,
    99% 38%,
    83% 45%,
    100% 46%,
    98% 64%,
    82% 62%,
    95% 72%,
    85% 86%,
    71% 76%,
    78% 91%,
    62% 99%,
    55% 83%,
    54% 100%,
    36% 98%,
    38% 81%,
    28% 95%,
    14% 84%,
    24% 71%,
    8% 78%,
    1% 62%,
    16% 55%,
    0 53%,
    2% 36%,
    18% 38%,
    5% 28%,
    15% 14%,
    28% 23%
  );
}

.asterisk_content > span {
  transform: rotate(-10deg);
}

.star_content {
  clip-path: polygon(
    50% 0%,
    57.46% 12.48%,
    69.13% 3.81%,
    71.25% 18.2%,
    85.36% 14.64%,
    81.8% 28.75%,
    96.19% 30.87%,
    87.52% 42.54%,
    100% 50%,
    87.52% 57.46%,
    96.19% 69.13%,
    81.8% 71.25%,
    85.36% 85.36%,
    71.25% 81.8%,
    69.13% 96.19%,
    57.46% 87.52%,
    50% 100%,
    42.54% 87.52%,
    30.87% 96.19%,
    28.75% 81.8%,
    14.64% 85.36%,
    18.2% 71.25%,
    3.81% 69.13%,
    12.48% 57.46%,
    0% 50%,
    12.48% 42.54%,
    3.81% 30.87%,
    18.2% 28.75%,
    14.64% 14.64%,
    28.75% 18.2%,
    30.87% 3.81%,
    42.54% 12.48%
  );
}

.star_content > span {
  transform: rotate(-10deg);
}

/* boxshadow magic */
.green-button:hover {
  box-shadow: 0 0 0 3px rgb(216, 216, 216);
  transition: all 0.25s ease-in-out;
}
.textarea {
  transition: all 0.25s ease-in-out;
}

.textarea:hover {
  box-shadow: 0 0 0 3px rgb(216, 216, 216);
  transition: all 0.25s ease-in-out;
}
.textarea:focus {
  box-shadow: none;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  background-color: #284622;
  border-radius: 100%;
  height: 3rem !important;
  width: 3rem !important;
  transition: all 0.4s ease-in-out;
  background-position: center;
  top: 40% !important;
}

.magic {
  transform: rotate(-360deg);
  transition: all 0.2s ease-in-out;
}

.unmagic {
  transform: rotate(-180deg);
  transition: all 0.2s ease-in-out;
}

.slider-statement {
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  transform: skewY(-4deg);
}

.swiper-wrapper {
  margin-left: 5rem !important;
}

@media screen and (max-width: 768px) {
  .swiper-wrapper {
    margin-left: 1.3rem !important;
  }
}

.element {
  -webkit-transform: skew(4deg);
  -moz-transform: skew(4deg);
  -o-transform: skew(4deg);
  -ms-transform: skew(4deg);
  transform: skew(4deg);
}

.main-container > button {
  -webkit-transform: skew(4deg);
  -moz-transform: skew(4deg);
  -o-transform: skew(4deg);
  -ms-transform: skew(4deg);
  transform: skew(4deg);
}

.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover {
  opacity: 0.8;
  border: 3px solid rgb(146, 145, 145);
  transition: all 0.25s ease-in-out;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  color: white;
  font-size: 1.2rem !important;
}

.nav-swiper .swiper-button-next::after,
.nav-swiper .swiper-button-prev::after {
  color: #04322f;
  font-size: 1rem !important;
  font-weight: 700;
}

.nav-swiper .swiper-wrapper {
  margin-left: 0rem !important;
}

.swiper-button-disabled {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    height: 2.4rem !important;
    width: 2.4rem !important;
  }

  .mySwiper .swiper-button-next::after,
  .mySwiper .swiper-button-prev::after {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 340px) {
  .swiper-container {
    width: 340px;
  }
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
}
